<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junmoyu.iam.mapper.UserGroupUserMapper">
  <resultMap id="BaseResultMap" type="com.junmoyu.iam.model.entity.UserGroupUser">
    <!--@Table sys_user_group_user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_id, user_id
  </sql>
</mapper>